
<h1>Customers</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Number of Orders</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
<tbody>
  <% @customers.each do |customer| %>
  <tr>
    <td>
      <%=customer.full_name%>
    </td>
    <td>
      <%=customer.orders.count%>
    </td>
    <td>
      <%= link_to customer, class: "btn btn-primary" do%>
       <%= icon('fa-regular','eye')%>
      <%end%>
    </td>
    <td>
      <%= link_to edit_customer_path(customer), class: "btn btn-primary" do%>
      <%= icon('fa-regular','pen-to-square')%>
      <%end%>
    </td>
    <td>
      <%= button_to customer, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-primary" do%>
      <%= icon('fa-regular', 'trash-can')%>
      <%end%>
    </td>
  </tr>
  <% end %>
  <tbody>
</table>

<br>

<%= link_to new_customer_path, class: "btn btn-primary" do%> New Customer
  <%= icon('fa-solid', 'user-plus')%> 
<%end%>
