<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div class="d-flex gap-1">
  <%= link_to "Edit", edit_customer_path(@customer), class: "btn btn-primary" %>
  <%= link_to "Back", customers_path, class: "btn btn-primary" %>
  <%= button_to "Delete", @customer, method: :delete, class: "btn btn-primary" %>
</div>

<h3>Customer Orders:</h3>
<% if @customer.orders.present?%>
  <% @customer.orders.each do |order| %>

<%= render order %>
<div>
    <%= link_to "Show", order, class: "btn btn-primary" %>
    <%= link_to "Edit", edit_order_path(order), class: "btn btn-primary"%>
    <%= link_to "Delete", order, method: :delete, data: {turbo_confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <% end %>
  <% else %>
  No orders yet!
  <%= link_to "Create a new order", new_order_path, class: "btn btn-primary"  %>
  <%end%>
<div>





