<p style="color: green"><%= notice %></p>

<%= render @order %>

<div class="d-flex gap-1">
    <%= link_to "Edit", edit_order_path(@order), class: "btn btn-primary" %>
    <%= link_to "Back", orders_path, class: "btn btn-primary" %>
    <%= button_to "Delete", @order, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-primary" %>
</div>